@import url('reset.css'); /* this is the style shit for the add/edit pages */
                             /*by M@rtin Bebey*/
body 
{
    background-color: #413659;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;	
    padding: 1em;
    padding-top: 0.5em;
}

a 
{
	text-decoration: none;
}

#container 
{
    background-color: #656F8C;
    border: 2px solid #656F8C;
    border-radius: 10px;
    padding: 0.5em;
    overflow: hidden;
}

#header, #nav, #main
{
    background-color: #F2EFDF;
    padding: 0.5em;
    margin: 0.4em;
}

#header img
{
    border: 0.4em solid #9BBFAB;
    border-radius: 0.3em;
    height: 7em;
    float: left;
    margin-right: 1em;
}

#nav /*navigation bar to the left*/
{
	clear: left;
	margin-right: 0px;
	float: left;
	width: 15%;
	height: 649px;
}

#main
{
  height: 646px;
}

#nav ul li a /*style of links in the navigation bar*/
{
	display: block;
	margin: 0.5em;
	border: 0.2em solid #413659;
	border-radius: 0.2em;
	font-size: 1.5em;
	background-color: #9BBFAB;
	color: #413659;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#nav ul li a:hover 
{
	border: 0.2em solid #9BBFAB;
	color: #9BBFAB;
	background-color: #413659;
}

.active /*style of link of the active page*/
{
	font-weight: bold;
	text-decoration: underline;	
}

#header h2 
{
	font-size: 2em;
	margin-top: 1em;
	font-weight: bold;
}

#header h3 
{
	font-size: 1.1em;
}

#header strong 
{
	color: #9BBFAB;
	font-weight: bold;
}

#header 
{
	font-size: 1.2em;
	overflow: hidden;
}

#main 
{
	margin-left: 0px;
	float: right;
	width: 81%;
	font-size: 1.2em;
}

#myVidForm /*style of add/edit form and components*/
{
	margin-left: 10em;
	padding-bottom: 0.5em;	
}

#myVidForm div 
{
	display: block;
	margin-bottom: 0.3em;	
}


#myVidForm fieldset 
{
	border: 0.3em solid #9BBFAB;
	border-radius: 0.3em;
	margin-bottom: 0.3em;
	padding: 0.2em;
	padding-right: 5em;
	display: inline-block;
}

#myVidForm fieldset label 
{
	float: none;
}

.note /*style of notes*/
{
	font-style: italic;
}

#footer /*style of footer*/
{
	text-align: center;
	clear: both;
	font-style: italic;
	color: #fff;	
}

